* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeu Infant', sans-serif ;
}

.secao-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-banner video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-info {
    width: 768px;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 2   0px; 
}

.imgPerfil-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imgPerfil {
    position: relative;
    top: -20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(assets/neymar.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPerfil::before {
    content: "";
    position: absolute;
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    z-index: -1;
    border-radius: 100%;
}

.imgPerfil-titulo h1 {
    position: relative;
    bottom: 10px;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 6px 3px #000000;
}

h1::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
}

.imgPerfil-titulo h1::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: -20px;
    background-image: url(assets/verificado.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.arvore-links {
    top: 20px;
    position: relative;
    max-width: 768px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.arvore-links a {
    position: relative;
    bottom: 10px;
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: #0200006e;
    color: #fff;
  }

  .arvore-links a:hover {
    background-color: #fff;
    color: #000;
  }
  
  .arvore-links a p {
    width: 80%;
  }
  
  .arvore-links a img {
    position: relative;
    left: 10px;
    width: 25px;
  }

  .secao-tabela {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    font-family: 'Monstserrat', sans-serif;
    background-image: url(./assets/imagem-de-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .secao-tabela h2 {
    font-size: 74px;
    color: #fff;
    text-shadow: 3px 6px 1px #000000;
  }
  
  
  .tabela th {
    font-size: 26px;
    background-color: #000000cc;
    color: #ffff;
    text-shadow: 2px 2px 1px #000000;
  }
  
  .tabela th, tr, td {
    padding: 20px;
  }
  
  .tabela td img {
    width: 30px;
  }
  
  .tabela tbody td:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .tabela tbody tr:nth-of-type(odd) {
    background-color: #ffffffcc;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }
  
  .tabela tbody tr:nth-of-type(even) {
    background-color: #000000cc;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  